* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FCFAF8;
    color: #263238;
}

.navbar {
    background-color: #263238 !important;
}

.navbar-brand {
    color: #FFFFFF !important;
}

.nav-link {
    color: #FFFFFF !important;
}

.nav-link:hover {
    color: #C58B9C !important;
}



#modo {
    background-color: #C58B9C;
    border-color: #C58B9C;
    color: #FFFFFF;
}

#modo:hover {
    background-color: #EAD9DE;
    border-color: #EAD9DE;
    color: #263238;
}



h1 {
    color: #263238;
}

h2 {
    color: #263238;
}

h4 {
    color: #C58B9C;
}



.foto {
    width: 200px;
    height: 240px;
    overflow: hidden;
    border-radius: 12px;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.badge {
    background-color: #EAD9DE !important;
    color: #263238 !important;
    font-weight: normal;
}



.linkedin a {
    color: #C58B9C;
    text-decoration: none;
}

.linkedin a:hover {
    color: #263238;
}



footer {
    margin-top: 50px;
    background-color: #263238 !important;
    color: #FFFFFF;
}